{% extends 'base_generic.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block script %}{% endblock script %}
{% block title %}جزییات مدارک{% endblock title %}
{% block content %}
    <div class="container mt-5 pt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-12">
                <div class="card-body">
                    <div class="col-6"></div>
                    <div class="text-center">
                        <div class="card-body">
                            <div class="card col-md-6 col justify-content-center">
                                <div class="card-header">
                                    <div class="btn-group col-12">
                                        <div class="col-6 ">
                                            <a href="{% url 'TopSkill:student_detail' contex.student_id %}">
                                                <button type="button" class="btn btn-warning col-12">بازگشت</button>
                                            </a>
                                        </div>
                                        <div class="col-6">
                                            <a href="{% url 'TopSkill:student_detail' contex.student_id %}">
                                                <button type="button" class="btn btn-success col-12">تایید</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body" style="background-color: #9fcdff">
                                    <div class="form-">
                                        <form action="" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {% for x in form.instance.student.studentjudgment_set.all %}
                                                <table class="col">
                                                    <tr>
                                                        <td>
                                                            {% if x.judgment_level == "2" %}
                                                                {{ form.ostan_judg }}
                                                            {% elif x.judgment_level == "11" %}
                                                                {{ form.setad_judge1 }}
                                                            {% elif x.judgment_level == "12" %}
                                                                {{ form.setad_judge2 }}
                                                            {% elif x.judgment_level == "13" %}
                                                                {{ form.setad_judge3 }}
                                                            {% endif %}
                                                            {{ form.score }}
                                                        </td>
                                                    </tr>
                                                </table>
                                                <table class="col">
                                                    <tr>
                                                        <td>
                                                            <input type="hidden" name="next" value="{{ request.path }}">
                                                            <button type="submit" name="submit"
                                                                    class="btn btn-success col-4">ثبت
                                                                امتیاز
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            {% endfor %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="card col-md-6 col">
                                <div class="card-heade" style="background-color: #3e999f">
                                    <form action="" id="Upload" method="post" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="col">
                                            <table class="col-12">
                                                <tr>
                                                    <td>
                                                        {{ upload_form.upload_file }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        {{ upload_form.upload_name }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        {{ upload_form.duc_data }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        {{ upload_form.upload }}
                                                        <button type="submit" name="submit"
                                                                class="btn btn-success col-4">بارگذاری
                                                            فایل
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-body" style="background-color: #9dbed8">
                                    <h6 class="my-4">محل نمایش فایل های بارگذاری شده</h6>
                                    <div class="row">
                                        <div class="text-right">
                                            {% for x in df %}
                                                <table>
                                                    {% if x.upload_file.url != Null %}
                                                        <tr>
                                                            <td>
                                                                <input type="hidden" name="next"
                                                                       value="{{ request.path }}">
                                                                <a href="{% url 'TopSkill:document_delete' x.id %}"
                                                                   id="delete">
                                                                    <button type="submit" name="submit"
                                                                            class="btn btn-success col-4">
                                                                        حذف
                                                                    </button>
                                                                </a>
                                                            </td>
                                                            <td>
                                                                <a href="{% url 'TopSkill:download_file' x.id %}"
                                                                   target="_blank"><span
                                                                        class="float-left text-bold text-sm">{{ x.upload_name }}</span>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    {% endif %}
                                                </table>
                                            {% empty %}
                                                <p>هیچ گزینه ای برای نمایش وجود ندارد.</p>
                                            {% endfor %}
                                            {#                    <a class="btn btn-dark my-4" href="/">Return to Homepage</a>#}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}{% block scriptbutton %}{% endblock scriptbutton %}