{% extends 'base_generic.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block script %}{% endblock script %}
{% block title %}جزییات مدارک{% endblock title %}
{% block content %}
    <div class="card-body">
        <div class="col-6"></div>
        <div class="text-center">
            <div class="card-body">
                <div class="card col-md-6 col justify-content-center">
                    <div class="card-header">
                        <div class="text-center">
                            <a href="{% url 'TopSkill:student_detail' contex.student_id %}">
                                <button type="button" class="btn btn-warning col-5">بازگشت</button>
                            </a>
                            <a href="{% url 'TopSkill:student_detail' contex.student_id %}">
                                <button type="button" class="btn btn-success col-5">تایید</button>
                            </a>
                        </div>
                    </div>
                    <div class="card-body row-cols-md-4 bg-primary">
                        <div>
                            <form action="" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% for x in form.instance.student.studentjudgment_set.all %}
                                    {% if x.judgment_level == "2" %}
                                        {{ form.ostan_judg }}
                                    {% elif x.judgment_level == "11" %}
                                        {{ form.setad_judge1.label }}{{ form.label_suffix }}{{ form.setad_judge1 }}
                                    {% elif x.judgment_level == "12" %}
                                        {{ form.setad_judge2.label }}{{ form.label_suffix }}{{ form.setad_judge2 }}
                                    {% elif x.judgment_level == "13" %}
                                        {{ form.setad_judge3.label }}{{ form.label_suffix }}{{ form.setad_judge3 }}
                                    {% endif %}
                                    {{ form.score }}
                                    <input type="hidden" name="next" value="{{ request.path }}">
                                    <button type="submit" name="submit" class="btn btn-success col-4">ثبت امتیاز
                                    </button>
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card col-md-6 col justify-content-center">
                    <div class="card-header bg-warning ">
                        <form action="" id="Upload" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row-cols-md-6">
                                {{ upload_form }}
                            </div>
                            <button type="submit" name="submit" class="btn btn-success col-4">بارگذاری فایل
                            </button>
                        </form>
                    </div>
                    <div class="card-body bg-success">
                        <h2 class="my-4">فایل های بارگذاری شده</h2>
                        <div class="row">
                            <div class="text-right">
                                <ul>
                                    {% for x in df %}
                                        {% if x.upload_file.url != Null %}
                                            <li>
                                                <a href="{% url 'TopSkill:document_delete' x.id %}"><i
                                                        class="ml-2 btn btn-danger">حذف</i></a>
                                                <a href="{% url 'TopSkill:download_file' x.id %}"
                                                   target="_blank"><span
                                                        class="float-left text-bold text-sm">{{ x.upload_name }}</span></a>
                                                <div class="dropdown-divider"></div>
                                            </li>
                                        {% endif %}
                                    {% empty %}
                                        <p>هیچ فایلی برای نمایش وجود ندارد.</p>
                                    {% endfor %}
                                    {#                    <a class="btn btn-dark my-4" href="/">Return to Homepage</a>#}

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}{% block scriptbutton %}
{% endblock scriptbutton %}