{% extends 'base_generic.html' %}
{% block title %}سامانه دانشجوی نمونه مهارتی{% endblock title %}
{% block content %}
    <div class="card-header">
        <h3 class="card-title">به سامانه انتخاب دانشجوی نمونه مهارتی خوش آمدید.</h3>
    </div>
    <div class="card-body">
    <p>این سامانه در راستای تسهیل فرآیند انتخاب دانشجوی نمونه با تسریع در ورود اطلاعات پرونده دانشجویانِ و داوری پرونده ها راه اندازی شده است.</p>
    </div>
{% endblock content %}
{% block scriptbutton %}
{% endblock scriptbutton %}