{% extends 'base_generic.html' %}
{% load static %}
{% load widget_tweaks %}
{% block topscript %}{% endblock topscript %}
{% block title %}{% endblock title %}
{% block content %}
    <div class="container mt-5 pt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-5">
                <div class="card">
                    <div class="card-header">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block downscript %}{% endblock downscript %}
