{% extends 'base_generic.html' %}
{% load static %}
{% block content %}
{#    <form action="{% url 'TopSkill:submit_student' %}" method="get">#}
{#        {% csrf_token %}#}
{#        <label for="cars">Choose a car:</label>#}
{#        <select name="cars" id="cars">#}
{#            <option value="volvo">Volvo</option>#}
{#            <option value="saab">Saab</option>#}
{#            <option value="opel">Opel</option>#}
{#            <option value="audi">Audi</option>#}
{#        </select>#}
{#        <br><br>#}
{#        <input type="submit" value="Submit">#}
{#    </form>#}
{##}
{#    <p>این برای تسته</p>#}
    {{ con }}

    {% for x in con %}

        <p>{{ x.title}}</p>

    {% endfor %}
    </P>

    <p>این برای تسته</p>

{% endblock content %}

<div class="card-body text-center">
            <ul class="nav nav-tabs">
                <li class="nav-item in active"><a class="nav-link " data-toggle="tab" href="#education">آموزشی</a></li>
                <li class="nav-item"><a class="nav-link " data-toggle="tab" href="#research">پژوهشی</a></li>
                <li class="nav-item"><a class="nav-link " data-toggle="tab" href="#Skill">مهارتی</a></li>
                <li class="nav-item"><a class="nav-link " data-toggle="tab" href="#cultural">فرهنگی</a></li>
                <li class="nav-item"><a class="nav-link " data-toggle="tab" href="#additional">امتیاز افزوده</a></li>
            </ul>
            <div class="tab-content">
                <div id="education" class="tab-pane fade in active">
                    <div class="card-header">
                        <h3 class="card-title">مستندات مربوط به عناوین آموزشی دانشجو </h3>
                    </div>
                    <div class="card-body text-center in active">
                        <table id="table1" class="table table-striped table-bordered col-md-auto" style="width:100%">
                            <thead>
                            <tr>
                                <th>عنوان</th>
                                <th>توضیحات</th>
                                <th>امتیاز داوری اول</th>
                                <th>امتیاز داوری دوم</th>
                                <th>امتیاز داوری سوم</th>
                                <th>گواهی</th>
                            </tr>
                            </thead>
                            <tbody>{% for x in level %}{% if x.leveling_index_category_id == 1 %}
                                <tr>
                                    <td>{{ x.title }}</td>
                                    <td>{{ x.description }}</td>
                                    <td><p></p></td>
                                    <td><p></p></td>
                                    <td><p></p></td>
                                    <td>
                                        <a href="{% url 'TopSkill:doc_upload' detail.id x.id %}">
                                            <button type="button" class="btn btn-info">مدارک</button>
                                        </a>
                                    </td>
                                </tr>{% endif %}{% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="research" class="tab-pane fade">
                    <div class="card-header">
                        <h3 class="card-title">مستندات مربوط به عناوین پژوهشی دانشجو </h3>
                    </div>
                    <div class="card-body text-center">
                        <table id="table2" class="table table-striped table-bordered col-md-auto" style="width:100%">
                            <thead>
                            <tr>
                                <th>عنوان</th>
                                <th>توضیحات</th>
                                <th>امتیاز داوری اول</th>
                                <th>امتیاز داوری دوم</th>
                                <th>امتیاز داوری سوم</th>
                                <th>گواهی</th>
                            </tr>
                            </thead>
                            <tbody class="text-xs">{% for x in level %}{% if x.leveling_index_category_id == 2 %}
                                <tr>
                                    <td>{{ x.title }}</td>
                                    <td>{{ x.description }}</td>
                                    <td><p></p></td>
                                    <td><p></p></td>
                                    <td><p></p></td>
                                    <td>
                                        <a href="{% url 'TopSkill:doc_upload' detail.id x.id %}">
                                            <button type="button" class="btn btn-info">مدارک</button>
                                        </a>
                                    </td>
                                </tr>{% endif %}{% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="Skill" class="tab-pane fade">
                    <div class="card-header">
                        <h3 class="card-title">مستندات مربوط به عناوین مهارتی دانشجو </h3>
                    </div>
                    <div class="card-body text-center">
                        <table id="table3" class="table table-striped table-bordered col-md-auto" style="width:100%">
                            <thead>
                            <tr>
                                <th>عنوان</th>
                                <th>توضیحات</th>
                                <th>امتیاز داوری اول</th>
                                <th>امتیاز داوری دوم</th>
                                <th>امتیاز داوری سوم</th>
                                <th>گواهی</th>
                            </tr>
                            </thead>
                            <tbody class="text-xs">{% for x in level %}{% if x.leveling_index_category_id == 3 %}
                                <tr>
                                    <td>{{ x.title }}</td>
                                    <td>{{ x.description }}</td>
                                    <td><p></p></td>
                                    <td><p></p></td>
                                    <td><p></p></td>
                                    <td>
                                        <a href="{% url 'TopSkill:doc_upload' detail.id x.id %}">
                                            <button type="button" class="btn btn-info">مدارک</button>
                                        </a>
                                    </td>
                                </tr>{% endif %}{% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="cultural" class="tab-pane fade">
                    <div class="card-header">
                        <h3 class="card-title">مستندات مربوط به عناوین فرهنگی دانشجو </h3>
                    </div>
                    <div class="card-body text-center">
                        <table id="table4" class="table table-striped table-bordered col-md-auto" style="width:100%">
                            <thead>
                            <tr>
                                <th>عنوان</th>
                                <th>توضیحات</th>
                                <th>امتیاز داوری اول</th>
                                <th>امتیاز داوری دوم</th>
                                <th>امتیاز داوری سوم</th>
                                <th>گواهی</th>
                            </tr>
                            </thead>
                            <tbody class="text-xs">{% for x in level %}{% if x.leveling_index_category_id == 4 %}
                                <tr>
                                    <td>{{ x.title }}</td>
                                    <td>{{ x.description }}</td>
                                    <td><p></p></td>
                                    <td><p></p></td>
                                    <td><p></p></td>
                                    <td>
                                        <a href="{% url 'TopSkill:doc_upload' detail.id x.id %}">
                                            <button type="button" class="btn btn-info">مدارک</button>
                                        </a>
                                    </td>
                                </tr>{% endif %}{% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="additional" class="tab-pane fade">
                    <div class="card-header">
                        <h3 class="card-title">مستندات مربوط به امتیاز افزوده </h3>
                    </div>
                    <div class="card-body text-center">
                        <table id="table5" class="table table-striped table-bordered col-md-auto" style="width:100%">
                            <thead>
                            <tr>
                                <th>عنوان</th>
                                <th>توضیحات</th>
                                <th>امتیاز داوری اول</th>
                                <th>امتیاز داوری دوم</th>
                                <th>امتیاز داوری سوم</th>
                                <th>گواهی</th>
                            </tr>
                            </thead>
                            <tbody class="text-xs">{% for x in level %}{% if x.leveling_index_category_id == 5 %}
                                <tr>
                                    <td>{{ x.title }}</td>
                                    <td>{{ x.description }}</td>
                                    <td><p></p></td>
                                    <td><p></p></td>
                                    <td><p></p></td>
                                    <td>
                                        <a href="{% url 'TopSkill:doc_upload' detail.id x.id %}">
                                            <button type="button" class="btn btn-info">مدارک</button>
                                        </a>
                                    </td>
                                </tr>{% endif %}{% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
<div class="btn-group" role="group" aria-label="Basic example">
        </div>