{% extends 'accounts/registration/login_base_generic.html' %}{% load static %}{% load widget_tweaks %}
{% block content %}
    <form class="login100-form validate-form" method="post">{% csrf_token %}
        <span class="login100-form-title">
                    {% include 'topskill/messages.html' %}
            {% if form.errors %}
                <p>نام کابری و یا گذرواژه صحیح نیست</p>
            {% endif %}

            {% if next %}
                {% if user.is_authenticated %}
                    <h4 style="color: red">شما مجوز مشاهده این صفحه را ندارید</h4><br>
                    <h5 style="color: red">لطفاْ با نام کاربری دارای مجوز وارد شوید</h5>
                {% endif %}
            {% endif %}
            <h5 style="color: red">{{ error }}</h5>
					</span>

        <div class="wrap-input100 validate-input" data-validate="لطفاْ نام کاربری صحیح را وارد کنید.">
            {% render_field form.username placeholder="نام کاربری" class="input100" %}
            <span class="focus-input100"></span>
            <span class="symbol-input100">
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
        </div>

        <div class="wrap-input100 validate-input" data-validate="لطفاْ یک گذرواژه معتبر وارد کنید.">
            {% render_field form.password placeholder="گذرواژه" class="input100" %}
            <span class="focus-input100"></span>
            <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
        </div>
        <div class="wrap-input100 validate-input" data-validate="لطفاْ عبارت صحیح را وارد کنید.">
            {% render_field captcha.captcha placeholder="لطفاْ عبارت بالا را وارد کنید" class="input100" %}
            <span class="focus-input100"></span>
        </div>
        <div class="container-login100-form-btn">
            <button class="login100-form-btn" type="submit">
                ورود
            </button>
        </div>

        <div class="text-center p-t-12">

        </div>

        <div class="text-center p-t-136">

        </div>

    </form>
{% endblock content %}