{% extends 'base_generic.html' %}
{% load static %}
{% block topscript %}
    <style>
        input[type="file"] {
            display: none;
        }
    </style>
{% endblock topscript %}
{% block title %}جزییات مدارک{% endblock title %}
{% block content %}
    <div class="container mt-5 pt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-xl-12">
                <div class="card-body">
                    <div class="col-6"></div>
                    <div class="text-center">
                        <div class="card-body">
                            <div class="card col-md-6 col justify-content-center">
                                <div class="card-header">
                                    <div class="btn-group col-md-12">
                                        <div class="col-12 ">
                                            <a href="{% url 'TopSkill:student_detail' contex.student_id %}">
                                                <button type="button" class="btn btn-warning col-12">بازگشت</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>{% if perms.TopSkill.add_score or perms.TopSkill.change_score %}
                                <div class="card-body" style="background-color: #9fcdff">
                                    <div class="form-">
                                        <form action="" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {% for x in form.instance.student.judgmentstatus_set.all %}
                                                <table class="col">
                                                    <tr>
                                                        <td>
                                                            {% if x.judgment_level == "2" %}
                                                                {{ form.province_score }}
                                                            {% elif x.judgment_level == "11" %}
                                                                {{ form.judge1 }}
                                                            {% elif x.judgment_level == "12" %}
                                                                {{ form.judge2 }}
                                                            {% elif x.judgment_level == "13" %}
                                                                {{ form.judge3 }}
                                                            {% endif %}
                                                            {{ form.score }}
                                                        </td>
                                                    </tr>
                                                </table>
                                            {% endfor %}
                                            <table class="col">
                                                <tr>
                                                    <td>
                                                        <input type="hidden" name="next" value="{{ request.path }}">
                                                        <button type="submit" name="submit"
                                                                class="btn btn-success col-4">ثبت
                                                            امتیاز
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </form>
                                    </div>
                                </div>{% endif %}
                            </div>
                            <div class="card col-md-6 col">
                                <div class="card-heade" style="background-color: #3e999f">
                                    {% if perms.TopSkill.add_documentfile %}
                                        <form action="" id="Upload" method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="col">
                                                <table class="col-12">
                                                    <tr>
                                                        <td>
                                                            <label for="id_upload_file" class="btn btn-warning col-4">
                                                                <i class="fa fa-cloud-upload"></i> انتخاب فایل
                                                                {{ upload_form.upload_file }}
                                                            </label>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            {{ upload_form.upload_name }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            {{ upload_form.document_get_date }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            {{ upload_form.upload }}
                                                            <button type="submit" name="submit"
                                                                    class="btn btn-primary col-4">بارگذاری
                                                                فایل
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </form>
                                        </div>{% endif %}
                                <div class="card-body" style="background-color: #9dbed8">
                                    <h6 class="my-4">محل نمایش فایل های بارگذاری شده</h6>
                                    <div class="row">
                                        <div class="text-right">
                                            <table class="table table-striped table-bordered col-md-auto text-center table-hover"
                                                   style="width:100%">
                                                <thead>
                                                <tr>{% if perms.TopSkill.delete_documentfile %}
                                                    <th>
                                                        <p>حذف</p>
                                                    </th>{% endif %}
                                                    <th>
                                                        <p>عنوان گواهی</p>
                                                    </th>
                                                    <th>
                                                        <p>تاریخ دریافت گواهی</p>
                                                    </th>
                                                </tr>
                                                </thead>
                                                {% for x in df %}{% if perms.TopSkill.view_documentfile %}
                                                    {% if x.upload_file.url != Null %}
                                                        <tbody>
                                                        <tr>{% if perms.TopSkill.delete_documentfile %}
                                                            <td>
                                                            <a href="{% url 'TopSkill:document_delete' x.id %}"
                                                               id="delete">
                                                                <button type="submit" name="submit"
                                                                        class="btn btn-danger col-12">
                                                                    حذف
                                                                </button>
                                                            </a>{% endif %}
                                                            </td>
                                                            <td class="align-content-sm-center">
                                                                <a href="{% url 'TopSkill:download_file' x.id %}"
                                                                   target="_blank">
                                                                    <p>{{ x.upload_name }}</p>
                                                                </a>
                                                            </td>
                                                            <td class="align-content-sm-center">
                                                                {{ x.document_get_date }}
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    {% endif %}{% endif %}
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block downscript %}
    <script>
        $(document).ready(function () {
            $('#id_document_get_date').MdPersianDateTimePicker({
                targetTextSelector: '#id_document_get_date',
                placement: 'bottom',
                trigger: 'click',
                textFormat: 'yyyy-MM-dd',

            });
        })
    </script>
{% endblock downscript %}